<div>
    <mbsc-tab-nav>
        <mbsc-nav-item class="income" [selected]="tab == 'incomes'" (click)="setCalendar('incomes')">Incomes</mbsc-nav-item>
        <mbsc-nav-item class="expense" [selected]="tab == 'expenses'" (click)="setCalendar('expenses')">Expenses</mbsc-nav-item>
    </mbsc-tab-nav>
</div>
<div>
    <mbsc-form>
        <div class="mbsc-form-group">
            <div class="mbsc-form-group-title">
                <div><span>Income:</span> <strong class="income">${{income}}</strong></div>
                <div><span>Expense:</span> <strong class="expense">${{expense}}</strong></div>
                <div><span>Balance:</span> <strong>${{total}}</strong></div>
            </div>
            <mbsc-calendar display="inline"
                           [labels]="summary"
                           (onSet)="setDay($event)"
                           (onMonthChange)="changeMonth($event)"></mbsc-calendar>
        </div>
    </mbsc-form>
</div>
<div *ngIf="!receipts.length">
    <mbsc-listview style="display:none">
        <ng-container>
            <mbsc-listview-item>
                <span class="md-img-text"> No transactions</span>
            </mbsc-listview-item>
        </ng-container>
    </mbsc-listview>
</div>
<div>
    <mbsc-listview style="display:none">
        <ng-container>
            <mbsc-listview-item *ngFor="let receipt of receipts">
                <div class="md-icon" [ngStyle]="{'background': receipt.Category.Color}">
                    <img src="{{receipt.Category.Icon}}" class="md-img">
                </div>
                <span class="md-img-text"> {{receipt.Title}}</span>
                <span class="md-price" [ngClass]="{'income': receipt.Category.TypeId == 1, 'expense': receipt.Category.TypeId == 2}">{{formatMoney(receipt.Amount)}}</span>
            </mbsc-listview-item>
        </ng-container>
    </mbsc-listview>
</div>