<div>
    <mbsc-tab-nav>
        <mbsc-nav-item class="income" [selected]="tab == 'incomes'" (click)="setCalendar('incomes')">Incomes</mbsc-nav-item>
        <mbsc-nav-item class="expense" [selected]="tab == 'expenses'" (click)="setCalendar('expenses')">Expenses</mbsc-nav-item>
    </mbsc-tab-nav>
</div>
<div>
    <mbsc-form>
        <div class="mbsc-form-group">
            <div class="mbsc-form-group-title">
                <div>Income: ${{income}}</div>
                <div>Expense: ${{expense}}</div>
                <div>Balance: ${{total}}</div>
            </div>
            <mbsc-calendar display="inline"
                           [labels]="summary"
                           (onSet)="setDay($event)"
                           (onMonthChange)="changeMonth($event)"></mbsc-calendar>
        </div>
    </mbsc-form>
</div>
<div *ngIf="!receipts.length">
    <span>No transactions</span>
</div>
<div *ngIf="receipts.length">
    <ul>
        <li *ngFor="let receipt of receipts">
            <span>{{receipt.Category.Title}} - {{receipt.Title}} : {{receipt.Amount}}</span>
        </li>
    </ul>
</div>